<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mc.bzly.dao.checkin.CCheckinContinuityDao">
	<resultMap id="BaseResultMap" type="CCheckinContinuity">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="user_id" property="userId" jdbcType="VARCHAR"/>
		<result column="continuity_days" property="continuityDays" jdbcType="INTEGER"/>
		<result column="update_time" property="updateTime" jdbcType="INTEGER"/>
	</resultMap>
	
	<insert id="add" parameterType="CCheckinContinuity">
	   INSERT INTO c_checkin_continuity(user_id,continuity_days,update_time)
       VALUES (#{userId},#{continuityDays},#{updateTime})
	</insert>
	
	<select id="selectOne" parameterType="String" resultMap="BaseResultMap">
	   select *
	   from c_checkin_continuity 
	   where user_id=#{userId}
	</select>
	
	<update id="update" parameterType="CCheckinContinuity">
	    update c_checkin_continuity 
		<set>
			<if test="continuityDays != null">
				continuity_days = #{continuityDays},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime}
			</if>
		</set> 
		where id = #{id}
	</update>
</mapper>