<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mc.bzly.dao.thirdparty.HippoClkTrackingDao" >
 
	<insert id="batchInsert" parameterType="java.util.List">
		insert into tp_hippo_clk_tracking 
		(id,clk_tracking,create_time)
		values
		<foreach collection="list" separator="," index="index" item="item">
			(#{item.id},#{item.clkTracking},#{item.createTime})
		</foreach> 
	</insert>
</mapper>