<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mc.bzly.dao.user.LUserCashDao" >
	<resultMap type="LUserCash" id="BaseResultMap">
		<result column="id" property="id" jdbcType="INTEGER"/>
		<result column="user_id" property="userId" jdbcType="VARCHAR"/>		
		<result column="out_trade_no" property="outTradeNo" jdbcType="VARCHAR"/>		
		<result column="mode" property="mode" jdbcType="INTEGER"/>
		<result column="money" property="money" jdbcType="INTEGER"/>
		<result column="state" property="state" jdbcType="INTEGER"/>
		<result column="creator_time" property="creatorTime" jdbcType="INTEGER"/>	
		<result column="account_id" property="accountId" jdbcType="INTEGER"/>
		<result column="creatorDate" property="creatorDate" jdbcType="VARCHAR"/>	
	</resultMap>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="LUserCash">
		insert into l_user_cash(id,user_id,out_trade_no,mode,money,state,creator_time) 
		values(#{id},#{userId},#{outTradeNo},#{mode},#{money},#{state},#{creatorTime})
	</insert>
	
	<update id="update" parameterType="LUserCash">
		update l_user_cash 
		<set>
		    <if test="mode != null and mode != ''">
				mode = #{mode},
			</if>
		    <if test="money != null and money != ''">
				money = #{money},
			</if>
			<if test="state != null and state != ''">
				state = #{state}
			</if>
		</set> 
		where id = #{id}
	</update>
	
	<select id="selectOne" resultMap="BaseResultMap">
		select * from l_user_cash where FROM_UNIXTIME(creator_time/1000,'%Y-%m-%d')=CURDATE() and user_id = #{userId} and state = #{state}
	</select>
	
	<select id="selectStateOne" resultMap="BaseResultMap">
		select * from l_user_cash where FROM_UNIXTIME(creator_time/1000,'%Y-%m-%d')=CURDATE() and state in (1,2,3) and user_id = #{userId}
	</select>
	
	<select id="selectId" resultMap="BaseResultMap">
		select * from l_user_cash where FROM_UNIXTIME(creator_time/1000,'%Y-%m-%d')=CURDATE() and id=#{id} and user_id = #{userId}
	</select>
	
	<select id="selectNumberOne" resultMap="BaseResultMap">
		select * from l_user_cash where out_trade_no=#{outTradeNo}
	</select>
	
	<update id="updateState" parameterType="LUserCash">
		update l_user_cash 
	    set state = #{state}
		where out_trade_no=#{outTradeNo}
	</update>
	
	<update id="updateIdState" parameterType="int">
	    update l_user_cash 
	    set state = 2
		where id=#{id}
	</update>
	
	<select id="selectList" parameterType="LUserCash" resultMap="BaseResultMap">
	    SELECT c.*,FROM_UNIXTIME(c.creator_time/1000,'%Y-%m-%d') AS creatorDate,account_id
		FROM l_user_cash c INNER JOIN m_user_info u ON c.user_id=u.user_id
	    <where>
	       <if test="accountId !='' and accountId != null">
	           and u.account_id=#{accountId}
	       </if>
	       <if test="creatorDate !='' and creatorDate != null">
	           and FROM_UNIXTIME(c.creator_time/1000,'%Y-%m-%d')=#{creatorDate}
	       </if>
	    </where>
	</select>
	
	<select id="selectTimeId" parameterType="int" resultMap="BaseResultMap">
	    select * from l_user_cash where FROM_UNIXTIME(creator_time/1000,'%Y-%m-%d')=CURDATE() and id=#{id}
	</select>
</mapper>