<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mc.bzly.dao.platform.MTaskJobDao">
	<resultMap type="MTaskJob" id="BaseMap">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="jobName" jdbcType="VARCHAR" property="jobName"/>
		<result column="jobGroup" jdbcType="VARCHAR" property="jobGroup"/>
		<result column="triggerName" jdbcType="VARCHAR" property="triggerName"/>
		<result column="triggerGroupName" jdbcType="VARCHAR" property="triggerGroupName"/>
		<result column="processClass" jdbcType="VARCHAR" property="processClass"/>
		<result column="cronExpression" jdbcType="VARCHAR" property="cronExpression"/>
		<result column="status" jdbcType="INTEGER" property="status"/>
		<result column="createDate" jdbcType="INTEGER" property="createDate"/>
		<result column="modifiedDate" jdbcType="INTEGER" property="modifiedDate"/>
		<result column="remark" jdbcType="VARCHAR" property="remark"/>
	</resultMap>
	
	<update id="update">
		update m_task_job 
		<set>
			cronExpression = #{cronExpression},
			modifiedDate = #{modifiedDate}
		</set>
		where jobName = #{jobName}
	</update>
</mapper>